[submodule "kicad/squantorPcbLibrary"]
	path = hardware/squantorPcbLibrary
	url = https://github.com/Squantor/squantorPcbLibrary.git
[submodule "software/lpc_chip_82x"]
	path = software/lpc_chip_82x
	url = https://github.com/Squantor/lpc_chip_82x.git
[submodule "software/squantorLibC"]
	path = software/squantorLibC
	url = https://github.com/Squantor/squantorLibC
